:root {
  --blue: #d6e6ff;
  --blue-dark: #3ac5e6;
}

.pixel:nth-child(172),
.pixel:nth-child(173),
.pixel:nth-child(174),
.pixel:nth-child(175),
.pixel:nth-child(176),
.pixel:nth-child(177),
.pixel:nth-child(209),
.pixel:nth-child(248),
.pixel:nth-child(287),
.pixel:nth-child(219),
.pixel:nth-child(261),
.pixel:nth-child(342),
.pixel:nth-child(423),
.pixel:nth-child(463),
.pixel:nth-child(503),
.pixel:nth-child(543),
.pixel:nth-child(583),
.pixel:nth-child(623),
.pixel:nth-child(663),
.pixel:nth-child(544),
.pixel:nth-child(582),
.pixel:nth-child(581),
.pixel:nth-child(580),
.pixel:nth-child(622),
.pixel:nth-child(619),
.pixel:nth-child(578),
.pixel:nth-child(539),
.pixel:nth-child(499),
.pixel:nth-child(459),
.pixel:nth-child(418),
.pixel:nth-child(458),
.pixel:nth-child(377),
.pixel:nth-child(417),
.pixel:nth-child(457),
.pixel:nth-child(497),
.pixel:nth-child(536),
.pixel:nth-child(495),
.pixel:nth-child(455),
.pixel:nth-child(408),
.pixel:nth-child(448),
.pixel:nth-child(488),
.pixel:nth-child(487),
.pixel:nth-child(446),
.pixel:nth-child(564),
.pixel:nth-child(565),
.pixel:nth-child(606),
.pixel:nth-child(646),
.pixel:nth-child(602),
.pixel:nth-child(683),
.pixel:nth-child(804),
.pixel:nth-child(845),
.pixel:nth-child(886),
.pixel:nth-child(927),
.pixel:nth-child(967),
.pixel:nth-child(1007),
.pixel:nth-child(1008),
.pixel:nth-child(930),
.pixel:nth-child(931),
.pixel:nth-child(932),
.pixel:nth-child(933),
.pixel:nth-child(934),
.pixel:nth-child(935),
.pixel:nth-child(936),
.pixel:nth-child(937),
.pixel:nth-child(972),
.pixel:nth-child(1012),
.pixel:nth-child(1049),
.pixel:nth-child(1090),
.pixel:nth-child(1132),
.pixel:nth-child(1133),
.pixel:nth-child(1134),
.pixel:nth-child(1135),
.pixel:nth-child(1136),
.pixel:nth-child(1137),
.pixel:nth-child(1098),
.pixel:nth-child(1059),
.pixel:nth-child(1020),
.pixel:nth-child(940),
.pixel:nth-child(900),
.pixel:nth-child(859),
.pixel:nth-child(818),
.pixel:nth-child(777),
.pixel:nth-child(737),
.pixel:nth-child(698),
.pixel:nth-child(772),
.pixel:nth-child(773),
.pixel:nth-child(774),
.pixel:nth-child(775),
.pixel:nth-child(776),
.pixel:nth-child(691),
.pixel:nth-child(654),
.pixel:nth-child(655),
.pixel:nth-child(848),
.pixel:nth-child(808),
.pixel:nth-child(769),
.pixel:nth-child(729),
.pixel:nth-child(689),
.pixel:nth-child(648),
.pixel:nth-child(687),
.pixel:nth-child(982),
.pixel:nth-child(983),
.pixel:nth-child(1023),
.pixel:nth-child(1063),
.pixel:nth-child(944),
.pixel:nth-child(865),
.pixel:nth-child(744),
.pixel:nth-child(577),
.pixel:nth-child(626),
.pixel:nth-child(627),
.pixel:nth-child(709),
.pixel:nth-child(828),
.pixel:nth-child(829),
.pixel:nth-child(830),
.pixel:nth-child(951),
.pixel:nth-child(991),
.pixel:nth-child(1031),
.pixel:nth-child(1071),
.pixel:nth-child(1070),
.pixel:nth-child(1109),
.pixel:nth-child(1108),
.pixel:nth-child(1147),
.pixel:nth-child(1066),
.pixel:nth-child(947),
.pixel:nth-child(1188),
.pixel:nth-child(1229),
.pixel:nth-child(1190),
.pixel:nth-child(1231),
.pixel:nth-child(1192),
.pixel:nth-child(1115),
.pixel:nth-child(1116),
.pixel:nth-child(1158),
.pixel:nth-child(1199),
.pixel:nth-child(1280),
.pixel:nth-child(1359),
.pixel:nth-child(1438),
.pixel:nth-child(1475),
.pixel:nth-child(1476),
.pixel:nth-child(1393),
.pixel:nth-child(1432),
.pixel:nth-child(1431),
.pixel:nth-child(1427),
.pixel:nth-child(1430),
.pixel:nth-child(1467),
.pixel:nth-child(1387),
.pixel:nth-child(1506),
.pixel:nth-child(1346),
.pixel:nth-child(1306),
.pixel:nth-child(1307),
.pixel:nth-child(1308),
.pixel:nth-child(1266),
.pixel:nth-child(1225),
.pixel:nth-child(1185),
.pixel:nth-child(1184),
.pixel:nth-child(1182),
.pixel:nth-child(1181),
.pixel:nth-child(1180),
.pixel:nth-child(1220),
.pixel:nth-child(1299),
.pixel:nth-child(1339),
.pixel:nth-child(1379),
.pixel:nth-child(1419),
.pixel:nth-child(1500),
.pixel:nth-child(1543),
.pixel:nth-child(1315),
.pixel:nth-child(1338),
.pixel:nth-child(1337),
.pixel:nth-child(1336),
.pixel:nth-child(1335),
.pixel:nth-child(1375),
.pixel:nth-child(1414),
.pixel:nth-child(1334),
.pixel:nth-child(1294),
.pixel:nth-child(1254),
.pixel:nth-child(1293),
.pixel:nth-child(1452),
.pixel:nth-child(1451),
.pixel:nth-child(1450),
.pixel:nth-child(1449),
.pixel:nth-child(1407),
.pixel:nth-child(1287),
.pixel:nth-child(1247),
.pixel:nth-child(1128),
.pixel:nth-child(1169),
.pixel:nth-child(1210),
.pixel:nth-child(1251),
.pixel:nth-child(1153) {
  background-color: #000;
}

.pixel:nth-child(211),
.pixel:nth-child(212),
.pixel:nth-child(213),
.pixel:nth-child(214),
.pixel:nth-child(215),
.pixel:nth-child(216),
.pixel:nth-child(217),
.pixel:nth-child(218),
.pixel:nth-child(249),
.pixel:nth-child(250),
.pixel:nth-child(251),
.pixel:nth-child(252),
.pixel:nth-child(253),
.pixel:nth-child(254),
.pixel:nth-child(255),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(260),
.pixel:nth-child(288),
.pixel:nth-child(289),
.pixel:nth-child(290),
.pixel:nth-child(291),
.pixel:nth-child(292),
.pixel:nth-child(293),
.pixel:nth-child(294),
.pixel:nth-child(295),
.pixel:nth-child(296),
.pixel:nth-child(297),
.pixel:nth-child(298),
.pixel:nth-child(299),
.pixel:nth-child(300),
.pixel:nth-child(301),
.pixel:nth-child(328),
.pixel:nth-child(329),
.pixel:nth-child(330),
.pixel:nth-child(331),
.pixel:nth-child(332),
.pixel:nth-child(333),
.pixel:nth-child(334),
.pixel:nth-child(335),
.pixel:nth-child(336),
.pixel:nth-child(337),
.pixel:nth-child(338),
.pixel:nth-child(339),
.pixel:nth-child(340),
.pixel:nth-child(341),
.pixel:nth-child(366),
.pixel:nth-child(369),
.pixel:nth-child(370),
.pixel:nth-child(371),
.pixel:nth-child(372),
.pixel:nth-child(373),
.pixel:nth-child(374),
.pixel:nth-child(375),
.pixel:nth-child(379),
.pixel:nth-child(380),
.pixel:nth-child(381),
.pixel:nth-child(409),
.pixel:nth-child(410),
.pixel:nth-child(411),
.pixel:nth-child(412),
.pixel:nth-child(413),
.pixel:nth-child(414),
.pixel:nth-child(420),
.pixel:nth-child(421),
.pixel:nth-child(460),
.pixel:nth-child(500),
.pixel:nth-child(449),
.pixel:nth-child(450),
.pixel:nth-child(451),
.pixel:nth-child(452),
.pixel:nth-child(453),
.pixel:nth-child(454),
.pixel:nth-child(489),
.pixel:nth-child(490),
.pixel:nth-child(491),
.pixel:nth-child(492),
.pixel:nth-child(493),
.pixel:nth-child(494),
.pixel:nth-child(526),
.pixel:nth-child(566),
.pixel:nth-child(567),
.pixel:nth-child(568),
.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(571),
.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(574),
.pixel:nth-child(575),
.pixel:nth-child(529),
.pixel:nth-child(530),
.pixel:nth-child(531),
.pixel:nth-child(532),
.pixel:nth-child(533),
.pixel:nth-child(534),
.pixel:nth-child(608),
.pixel:nth-child(610),
.pixel:nth-child(612),
.pixel:nth-child(613),
.pixel:nth-child(614),
.pixel:nth-child(615),
.pixel:nth-child(616),
.pixel:nth-child(617),
.pixel:nth-child(000),
.pixel:nth-child(618),
.pixel:nth-child(620),
.pixel:nth-child(621),
.pixel:nth-child(604),
.pixel:nth-child(643),
.pixel:nth-child(644),
.pixel:nth-child(645),
.pixel:nth-child(647),
.pixel:nth-child(649),
.pixel:nth-child(650),
.pixel:nth-child(651),
.pixel:nth-child(652),
.pixel:nth-child(657),
.pixel:nth-child(660),
.pixel:nth-child(661),
.pixel:nth-child(584),
.pixel:nth-child(585),
.pixel:nth-child(624),
.pixel:nth-child(625),
.pixel:nth-child(664),
.pixel:nth-child(684),
.pixel:nth-child(685),
.pixel:nth-child(686),
.pixel:nth-child(693),
.pixel:nth-child(694),
.pixel:nth-child(695),
.pixel:nth-child(696),
.pixel:nth-child(699),
.pixel:nth-child(700),
.pixel:nth-child(701),
.pixel:nth-child(702),
.pixel:nth-child(704),
.pixel:nth-child(706),
.pixel:nth-child(785),
.pixel:nth-child(787),
.pixel:nth-child(867),
.pixel:nth-child(724),
.pixel:nth-child(725),
.pixel:nth-child(726),
.pixel:nth-child(731),
.pixel:nth-child(732),
.pixel:nth-child(733),
.pixel:nth-child(734),
.pixel:nth-child(735),
.pixel:nth-child(738),
.pixel:nth-child(739),
.pixel:nth-child(742),
.pixel:nth-child(743),
.pixel:nth-child(778),
.pixel:nth-child(779),
.pixel:nth-child(782),
.pixel:nth-child(783),
.pixel:nth-child(819),
.pixel:nth-child(820),
.pixel:nth-child(821),
.pixel:nth-child(822),
.pixel:nth-child(823),
.pixel:nth-child(824),
.pixel:nth-child(861),
.pixel:nth-child(862),
.pixel:nth-child(863),
.pixel:nth-child(864),
.pixel:nth-child(902),
.pixel:nth-child(903),
.pixel:nth-child(904),
.pixel:nth-child(770),
.pixel:nth-child(810),
.pixel:nth-child(811),
.pixel:nth-child(812),
.pixel:nth-child(813),
.pixel:nth-child(814),
.pixel:nth-child(815),
.pixel:nth-child(816),
.pixel:nth-child(817),
.pixel:nth-child(851),
.pixel:nth-child(852),
.pixel:nth-child(853),
.pixel:nth-child(854),
.pixel:nth-child(855),
.pixel:nth-child(856),
.pixel:nth-child(857),
.pixel:nth-child(858),
.pixel:nth-child(894),
.pixel:nth-child(895),
.pixel:nth-child(896),
.pixel:nth-child(897),
.pixel:nth-child(898),
.pixel:nth-child(766),
.pixel:nth-child(765),
.pixel:nth-child(767),
.pixel:nth-child(805),
.pixel:nth-child(806),
.pixel:nth-child(807),
.pixel:nth-child(846),
.pixel:nth-child(847),
.pixel:nth-child(986),
.pixel:nth-child(945),
.pixel:nth-child(1024),
.pixel:nth-child(1021),
.pixel:nth-child(1022),
.pixel:nth-child(1062),
.pixel:nth-child(1102),
.pixel:nth-child(1141),
.pixel:nth-child(1142),
.pixel:nth-child(1143),
.pixel:nth-child(1211),
.pixel:nth-child(1212),
.pixel:nth-child(1213),
.pixel:nth-child(1172),
.pixel:nth-child(1253),
.pixel:nth-child(1208),
.pixel:nth-child(1209),
.pixel:nth-child(1248),
.pixel:nth-child(1249),
.pixel:nth-child(1288),
.pixel:nth-child(1289),
.pixel:nth-child(1290),
.pixel:nth-child(1328),
.pixel:nth-child(1329),
.pixel:nth-child(1330),
.pixel:nth-child(1331),
.pixel:nth-child(1369),
.pixel:nth-child(1370),
.pixel:nth-child(1371),
.pixel:nth-child(1408),
.pixel:nth-child(1409),
.pixel:nth-child(1410),
.pixel:nth-child(1411),
.pixel:nth-child(1412),
.pixel:nth-child(1174),
.pixel:nth-child(1175),
.pixel:nth-child(1215),
.pixel:nth-child(1216),
.pixel:nth-child(1217),
.pixel:nth-child(1255),
.pixel:nth-child(1256),
.pixel:nth-child(1257),
.pixel:nth-child(1258),
.pixel:nth-child(1296),
.pixel:nth-child(1297),
.pixel:nth-child(1145),
.pixel:nth-child(1146),
.pixel:nth-child(1186),
.pixel:nth-child(1187),
.pixel:nth-child(1227),
.pixel:nth-child(1228),
.pixel:nth-child(1267),
.pixel:nth-child(1268),
.pixel:nth-child(1269),
.pixel:nth-child(1154),
.pixel:nth-child(1155),
.pixel:nth-child(1156),
.pixel:nth-child(1157),
.pixel:nth-child(1193),
.pixel:nth-child(1194),
.pixel:nth-child(1195),
.pixel:nth-child(1196),
.pixel:nth-child(1197),
.pixel:nth-child(1198),
.pixel:nth-child(1232),
.pixel:nth-child(1233),
.pixel:nth-child(1234),
.pixel:nth-child(1235),
.pixel:nth-child(1236),
.pixel:nth-child(1237),
.pixel:nth-child(1238),
.pixel:nth-child(1271),
.pixel:nth-child(1272),
.pixel:nth-child(1273),
.pixel:nth-child(1274),
.pixel:nth-child(1275),
.pixel:nth-child(1276),
.pixel:nth-child(1277),
.pixel:nth-child(1278),
.pixel:nth-child(1311),
.pixel:nth-child(1312),
.pixel:nth-child(1313),
.pixel:nth-child(1316),
.pixel:nth-child(1317),
.pixel:nth-child(1318),
.pixel:nth-child(1352),
.pixel:nth-child(1354),
.pixel:nth-child(1355),
.pixel:nth-child(1357),
.pixel:nth-child(1358),
.pixel:nth-child(1395),
.pixel:nth-child(1396),
.pixel:nth-child(1397),
.pixel:nth-child(1221),
.pixel:nth-child(1222),
.pixel:nth-child(1260),
.pixel:nth-child(1261),
.pixel:nth-child(1262),
.pixel:nth-child(1263),
.pixel:nth-child(1300),
.pixel:nth-child(1301),
.pixel:nth-child(1302),
.pixel:nth-child(1303),
.pixel:nth-child(1304),
.pixel:nth-child(1340),
.pixel:nth-child(1341),
.pixel:nth-child(1342),
.pixel:nth-child(1343),
.pixel:nth-child(1344),
.pixel:nth-child(1380),
.pixel:nth-child(1381),
.pixel:nth-child(1382),
.pixel:nth-child(1383),
.pixel:nth-child(1384),
.pixel:nth-child(1420),
.pixel:nth-child(1421),
.pixel:nth-child(1422),
.pixel:nth-child(1423),
.pixel:nth-child(1424),
.pixel:nth-child(1460),
.pixel:nth-child(1461),
.pixel:nth-child(1462),
.pixel:nth-child(1463),
.pixel:nth-child(1464),
.pixel:nth-child(1502),
.pixel:nth-child(1503) {
  background: var(--blue);
}

.pixel:nth-child(171),
.pixel:nth-child(210),
.pixel:nth-child(178),
.pixel:nth-child(220),
.pixel:nth-child(302),
.pixel:nth-child(382),
.pixel:nth-child(383),
.pixel:nth-child(327),
.pixel:nth-child(368),
.pixel:nth-child(447),
.pixel:nth-child(406),
.pixel:nth-child(486),
.pixel:nth-child(525),
.pixel:nth-child(527),
.pixel:nth-child(528),
.pixel:nth-child(496),
.pixel:nth-child(535),
.pixel:nth-child(576),
.pixel:nth-child(537),
.pixel:nth-child(498),
.pixel:nth-child(415),
.pixel:nth-child(376),
.pixel:nth-child(378),
.pixel:nth-child(419),
.pixel:nth-child(540),
.pixel:nth-child(541),
.pixel:nth-child(542),
.pixel:nth-child(501),
.pixel:nth-child(502),
.pixel:nth-child(461),
.pixel:nth-child(462),
.pixel:nth-child(545),
.pixel:nth-child(422),
.pixel:nth-child(586),
.pixel:nth-child(662),
.pixel:nth-child(703),
.pixel:nth-child(784),
.pixel:nth-child(825),
.pixel:nth-child(905),
.pixel:nth-child(740),
.pixel:nth-child(741),
.pixel:nth-child(780),
.pixel:nth-child(781),
.pixel:nth-child(860),
.pixel:nth-child(899),
.pixel:nth-child(938),
.pixel:nth-child(901),
.pixel:nth-child(941),
.pixel:nth-child(981),
.pixel:nth-child(628),
.pixel:nth-child(666),
.pixel:nth-child(667),
.pixel:nth-child(668),
.pixel:nth-child(669),
.pixel:nth-child(707),
.pixel:nth-child(708),
.pixel:nth-child(747),
.pixel:nth-child(748),
.pixel:nth-child(749),
.pixel:nth-child(942),
.pixel:nth-child(943),
.pixel:nth-child(984),
.pixel:nth-child(788),
.pixel:nth-child(789),
.pixel:nth-child(790),
.pixel:nth-child(868),
.pixel:nth-child(869),
.pixel:nth-child(870),
.pixel:nth-child(907),
.pixel:nth-child(908),
.pixel:nth-child(909),
.pixel:nth-child(910),
.pixel:nth-child(911),
.pixel:nth-child(948),
.pixel:nth-child(949),
.pixel:nth-child(950),
.pixel:nth-child(987),
.pixel:nth-child(988),
.pixel:nth-child(989),
.pixel:nth-child(990),
.pixel:nth-child(1026),
.pixel:nth-child(1027),
.pixel:nth-child(1028),
.pixel:nth-child(1029),
.pixel:nth-child(1030),
.pixel:nth-child(1067),
.pixel:nth-child(1068),
.pixel:nth-child(1069),
.pixel:nth-child(1106),
.pixel:nth-child(1107),
.pixel:nth-child(1110),
.pixel:nth-child(1111),
.pixel:nth-child(1148),
.pixel:nth-child(1149),
.pixel:nth-child(1150),
.pixel:nth-child(1189),
.pixel:nth-child(1114),
.pixel:nth-child(1117),
.pixel:nth-child(1279),
.pixel:nth-child(1239),
.pixel:nth-child(1319),
.pixel:nth-child(1320),
.pixel:nth-child(1356),
.pixel:nth-child(1314),
.pixel:nth-child(1353),
.pixel:nth-child(1394),
.pixel:nth-child(1398),
.pixel:nth-child(1399),
.pixel:nth-child(1433),
.pixel:nth-child(1434),
.pixel:nth-child(1435),
.pixel:nth-child(1436),
.pixel:nth-child(1437),
.pixel:nth-child(1477),
.pixel:nth-child(1474),
.pixel:nth-child(1429),
.pixel:nth-child(1388),
.pixel:nth-child(1389),
.pixel:nth-child(1390),
.pixel:nth-child(1391),
.pixel:nth-child(1392),
.pixel:nth-child(1347),
.pixel:nth-child(1348),
.pixel:nth-child(1349),
.pixel:nth-child(1350),
.pixel:nth-child(1351),
.pixel:nth-child(1309),
.pixel:nth-child(1353),
.pixel:nth-child(1310),
.pixel:nth-child(1270),
.pixel:nth-child(1501),
.pixel:nth-child(1542),
.pixel:nth-child(1544),
.pixel:nth-child(1504),
.pixel:nth-child(1505),
.pixel:nth-child(1183),
.pixel:nth-child(1223),
.pixel:nth-child(1224),
.pixel:nth-child(1264),
.pixel:nth-child(1265),
.pixel:nth-child(1305),
.pixel:nth-child(1345),
.pixel:nth-child(1385),
.pixel:nth-child(1425),
.pixel:nth-child(1465),
.pixel:nth-child(1386),
.pixel:nth-child(1426),
.pixel:nth-child(1466),
.pixel:nth-child(1459),
.pixel:nth-child(1259),
.pixel:nth-child(1295),
.pixel:nth-child(1298),
.pixel:nth-child(1214),
.pixel:nth-child(887),
.pixel:nth-child(888),
.pixel:nth-child(929),
.pixel:nth-child(607),
.pixel:nth-child(609),
.pixel:nth-child(611),
.pixel:nth-child(690),
.pixel:nth-child(730),
.pixel:nth-child(771),
.pixel:nth-child(692),
.pixel:nth-child(653),
.pixel:nth-child(656),
.pixel:nth-child(736),
.pixel:nth-child(697),
.pixel:nth-child(658),
.pixel:nth-child(659),
.pixel:nth-child(579),
.pixel:nth-child(603),
.pixel:nth-child(605),
.pixel:nth-child(642),
.pixel:nth-child(723),
.pixel:nth-child(764),
.pixel:nth-child(727),
.pixel:nth-child(688),
.pixel:nth-child(728),
.pixel:nth-child(768),
.pixel:nth-child(1047),
.pixel:nth-child(1088),
.pixel:nth-child(1168),
.pixel:nth-child(1207),
.pixel:nth-child(1327),
.pixel:nth-child(1368),
.pixel:nth-child(1448),
.pixel:nth-child(1250),
.pixel:nth-child(1291),
.pixel:nth-child(1252),
.pixel:nth-child(1292),
.pixel:nth-child(1332),
.pixel:nth-child(1372),
.pixel:nth-child(1333),
.pixel:nth-child(1373),
.pixel:nth-child(1374),
.pixel:nth-child(1413),
.pixel:nth-child(1453),
.pixel:nth-child(1173),
.pixel:nth-child(1131),
.pixel:nth-child(1138),
.pixel:nth-child(1179),
.pixel:nth-child(1103),
.pixel:nth-child(1144),
.pixel:nth-child(1226),
.pixel:nth-child(1052),
.pixel:nth-child(1093) {
  background: var(--blue-dark);
}
