:root {
  --primary: #947352;
  --secondary: #d6bd94;
}

.pixel:nth-child(54),
.pixel:nth-child(55),
.pixel:nth-child(56),
.pixel:nth-child(57),
.pixel:nth-child(58),
.pixel:nth-child(101),
.pixel:nth-child(100),
.pixel:nth-child(147),
.pixel:nth-child(194),
.pixel:nth-child(242),
.pixel:nth-child(290),
.pixel:nth-child(339),
.pixel:nth-child(340),
.pixel:nth-child(292),
.pixel:nth-child(244),
.pixel:nth-child(246),
.pixel:nth-child(294),
.pixel:nth-child(343),
.pixel:nth-child(296),
.pixel:nth-child(248),
.pixel:nth-child(249),
.pixel:nth-child(201),
.pixel:nth-child(389),
.pixel:nth-child(390),
.pixel:nth-child(437),
.pixel:nth-child(107),
.pixel:nth-child(156),
.pixel:nth-child(205),
.pixel:nth-child(253),
.pixel:nth-child(300),
.pixel:nth-child(347),
.pixel:nth-child(346),
.pixel:nth-child(394),
.pixel:nth-child(393),
.pixel:nth-child(440),
.pixel:nth-child(484),
.pixel:nth-child(531),
.pixel:nth-child(626),
.pixel:nth-child(675),
.pixel:nth-child(772),
.pixel:nth-child(917),
.pixel:nth-child(1064),
.pixel:nth-child(1065),
.pixel:nth-child(1112),
.pixel:nth-child(1160),
.pixel:nth-child(1303),
.pixel:nth-child(1400),
.pixel:nth-child(1449),
.pixel:nth-child(1496),
.pixel:nth-child(1543),
.pixel:nth-child(1591),
.pixel:nth-child(1640),
.pixel:nth-child(1736),
.pixel:nth-child(1689),
.pixel:nth-child(1780),
.pixel:nth-child(1781),
.pixel:nth-child(1782),
.pixel:nth-child(1783),
.pixel:nth-child(1826),
.pixel:nth-child(1873),
.pixel:nth-child(1922),
.pixel:nth-child(1877),
.pixel:nth-child(1878),
.pixel:nth-child(1879),
.pixel:nth-child(1926),
.pixel:nth-child(1973),
.pixel:nth-child(2020),
.pixel:nth-child(2070),
.pixel:nth-child(2024),
.pixel:nth-child(1976),
.pixel:nth-child(1929),
.pixel:nth-child(1834),
.pixel:nth-child(1788),
.pixel:nth-child(1789),
.pixel:nth-child(1742),
.pixel:nth-child(1695),
.pixel:nth-child(1646),
.pixel:nth-child(1645),
.pixel:nth-child(1692),
.pixel:nth-child(1643),
.pixel:nth-child(1596),
.pixel:nth-child(1550),
.pixel:nth-child(1501),
.pixel:nth-child(1599),
.pixel:nth-child(1650),
.pixel:nth-child(1651),
.pixel:nth-child(1653),
.pixel:nth-child(1608),
.pixel:nth-child(1562),
.pixel:nth-child(1613),
.pixel:nth-child(1664),
.pixel:nth-child(1714),
.pixel:nth-child(1763),
.pixel:nth-child(1812),
.pixel:nth-child(1860),
.pixel:nth-child(1907),
.pixel:nth-child(1953),
.pixel:nth-child(1999),
.pixel:nth-child(2049),
.pixel:nth-child(2050),
.pixel:nth-child(2100),
.pixel:nth-child(2150),
.pixel:nth-child(2199),
.pixel:nth-child(2249),
.pixel:nth-child(2250),
.pixel:nth-child(2203),
.pixel:nth-child(2154),
.pixel:nth-child(2153),
.pixel:nth-child(2104),
.pixel:nth-child(2057),
.pixel:nth-child(2058),
.pixel:nth-child(2107),
.pixel:nth-child(2108),
.pixel:nth-child(2157),
.pixel:nth-child(2158),
.pixel:nth-child(2063),
.pixel:nth-child(1966),
.pixel:nth-child(1965),
.pixel:nth-child(1962),
.pixel:nth-child(1961),
.pixel:nth-child(1912),
.pixel:nth-child(1767),
.pixel:nth-child(1670),
.pixel:nth-child(1621),
.pixel:nth-child(1572),
.pixel:nth-child(1523),
.pixel:nth-child(1473),
.pixel:nth-child(1426),
.pixel:nth-child(1427),
.pixel:nth-child(1428),
.pixel:nth-child(1382),
.pixel:nth-child(1336),
.pixel:nth-child(1290),
.pixel:nth-child(1244),
.pixel:nth-child(1197),
.pixel:nth-child(1102),
.pixel:nth-child(1007),
.pixel:nth-child(959),
.pixel:nth-child(814),
.pixel:nth-child(764),
.pixel:nth-child(810),
.pixel:nth-child(954),
.pixel:nth-child(907),
.pixel:nth-child(1052),
.pixel:nth-child(1099),
.pixel:nth-child(1004),
.pixel:nth-child(1331),
.pixel:nth-child(1284),
.pixel:nth-child(1239),
.pixel:nth-child(1193),
.pixel:nth-child(1146),
.pixel:nth-child(956),
.pixel:nth-child(911),
.pixel:nth-child(905),
.pixel:nth-child(856),
.pixel:nth-child(857),
.pixel:nth-child(809),
.pixel:nth-child(761),
.pixel:nth-child(713),
.pixel:nth-child(665),
.pixel:nth-child(617),
.pixel:nth-child(618),
.pixel:nth-child(568),
.pixel:nth-child(520),
.pixel:nth-child(472),
.pixel:nth-child(571),
.pixel:nth-child(572),
.pixel:nth-child(523),
.pixel:nth-child(475),
.pixel:nth-child(427),
.pixel:nth-child(429),
.pixel:nth-child(477),
.pixel:nth-child(381),
.pixel:nth-child(284),
.pixel:nth-child(235),
.pixel:nth-child(234),
.pixel:nth-child(184),
.pixel:nth-child(230),
.pixel:nth-child(325),
.pixel:nth-child(373),
.pixel:nth-child(421),
.pixel:nth-child(469),
.pixel:nth-child(517),
.pixel:nth-child(565),
.pixel:nth-child(516),
.pixel:nth-child(468),
.pixel:nth-child(614),
.pixel:nth-child(662),
.pixel:nth-child(615),
.pixel:nth-child(756),
.pixel:nth-child(803),
.pixel:nth-child(902),
.pixel:nth-child(949),
.pixel:nth-child(996),
.pixel:nth-child(995),
.pixel:nth-child(1042),
.pixel:nth-child(1041),
.pixel:nth-child(1088),
.pixel:nth-child(1089),
.pixel:nth-child(1137),
.pixel:nth-child(1186),
.pixel:nth-child(1135),
.pixel:nth-child(847),
.pixel:nth-child(848),
.pixel:nth-child(894),
.pixel:nth-child(941),
.pixel:nth-child(797),
.pixel:nth-child(798),
.pixel:nth-child(799),
.pixel:nth-child(800),
.pixel:nth-child(750),
.pixel:nth-child(751),
.pixel:nth-child(752),
.pixel:nth-child(704),
.pixel:nth-child(656),
.pixel:nth-child(608),
.pixel:nth-child(559),
.pixel:nth-child(605),
.pixel:nth-child(652),
.pixel:nth-child(699),
.pixel:nth-child(698),
.pixel:nth-child(551),
.pixel:nth-child(598),
.pixel:nth-child(595),
.pixel:nth-child(642),
.pixel:nth-child(688),
.pixel:nth-child(638),
.pixel:nth-child(588),
.pixel:nth-child(586),
.pixel:nth-child(634),
.pixel:nth-child(731),
.pixel:nth-child(779),
.pixel:nth-child(780),
.pixel:nth-child(729),
.pixel:nth-child(680),
.pixel:nth-child(631),
.pixel:nth-child(584),
.pixel:nth-child(1069),
.pixel:nth-child(1021),
.pixel:nth-child(925),
.pixel:nth-child(975),
.pixel:nth-child(1024),
.pixel:nth-child(1023),
.pixel:nth-child(1071),
.pixel:nth-child(1118),
.pixel:nth-child(1119),
.pixel:nth-child(1120),
.pixel:nth-child(1168),
.pixel:nth-child(1215),
.pixel:nth-child(1217),
.pixel:nth-child(1265),
.pixel:nth-child(1314),
.pixel:nth-child(1315),
.pixel:nth-child(1316),
.pixel:nth-child(1268),
.pixel:nth-child(1220),
.pixel:nth-child(1270),
.pixel:nth-child(1223),
.pixel:nth-child(1174),
.pixel:nth-child(1073),
.pixel:nth-child(1122),
.pixel:nth-child(1123),
.pixel:nth-child(1124),
.pixel:nth-child(1029),
.pixel:nth-child(1126),
.pixel:nth-child(1127),
.pixel:nth-child(1128),
.pixel:nth-child(1129),
.pixel:nth-child(1130),
.pixel:nth-child(1080),
.pixel:nth-child(1032),
.pixel:nth-child(1031),
.pixel:nth-child(985),
.pixel:nth-child(938) {
  background-color: black;
}

.pixel:nth-child(102),
.pixel:nth-child(103),
.pixel:nth-child(104),
.pixel:nth-child(105),
.pixel:nth-child(106),
.pixel:nth-child(148),
.pixel:nth-child(149),
.pixel:nth-child(150),
.pixel:nth-child(151),
.pixel:nth-child(152),
.pixel:nth-child(153),
.pixel:nth-child(154),
.pixel:nth-child(155),
.pixel:nth-child(195),
.pixel:nth-child(196),
.pixel:nth-child(197),
.pixel:nth-child(198),
.pixel:nth-child(199),
.pixel:nth-child(200),
.pixel:nth-child(202),
.pixel:nth-child(203),
.pixel:nth-child(204),
.pixel:nth-child(243),
.pixel:nth-child(245),
.pixel:nth-child(247),
.pixel:nth-child(250),
.pixel:nth-child(251),
.pixel:nth-child(252),
.pixel:nth-child(291),
.pixel:nth-child(293),
.pixel:nth-child(295),
.pixel:nth-child(297),
.pixel:nth-child(298),
.pixel:nth-child(299),
.pixel:nth-child(341),
.pixel:nth-child(342),
.pixel:nth-child(344),
.pixel:nth-child(345),
.pixel:nth-child(391),
.pixel:nth-child(392),
.pixel:nth-child(488),
.pixel:nth-child(535),
.pixel:nth-child(578),
.pixel:nth-child(539),
.pixel:nth-child(589),
.pixel:nth-child(639),
.pixel:nth-child(641),
.pixel:nth-child(594),
.pixel:nth-child(548),
.pixel:nth-child(597),
.pixel:nth-child(645),
.pixel:nth-child(600),
.pixel:nth-child(649),
.pixel:nth-child(606),
.pixel:nth-child(560),
.pixel:nth-child(703),
.pixel:nth-child(683),
.pixel:nth-child(732),
.pixel:nth-child(781),
.pixel:nth-child(828),
.pixel:nth-child(778),
.pixel:nth-child(682),
.pixel:nth-child(724),
.pixel:nth-child(820),
.pixel:nth-child(869),
.pixel:nth-child(966),
.pixel:nth-child(1015),
.pixel:nth-child(1017),
.pixel:nth-child(926),
.pixel:nth-child(981),
.pixel:nth-child(1121),
.pixel:nth-child(1125),
.pixel:nth-child(1078),
.pixel:nth-child(984),
.pixel:nth-child(1033),
.pixel:nth-child(1081),
.pixel:nth-child(1083),
.pixel:nth-child(986),
.pixel:nth-child(939),
.pixel:nth-child(1222),
.pixel:nth-child(1269),
.pixel:nth-child(1317),
.pixel:nth-child(1264),
.pixel:nth-child(1313),
.pixel:nth-child(749),
.pixel:nth-child(796),
.pixel:nth-child(845),
.pixel:nth-child(846),
.pixel:nth-child(849),
.pixel:nth-child(802),
.pixel:nth-child(757),
.pixel:nth-child(613),
.pixel:nth-child(564),
.pixel:nth-child(420),
.pixel:nth-child(183),
.pixel:nth-child(185),
.pixel:nth-child(231),
.pixel:nth-child(232),
.pixel:nth-child(233),
.pixel:nth-child(277),
.pixel:nth-child(278),
.pixel:nth-child(279),
.pixel:nth-child(280),
.pixel:nth-child(281),
.pixel:nth-child(282),
.pixel:nth-child(283),
.pixel:nth-child(326),
.pixel:nth-child(327),
.pixel:nth-child(328),
.pixel:nth-child(329),
.pixel:nth-child(330),
.pixel:nth-child(331),
.pixel:nth-child(332),
.pixel:nth-child(333),
.pixel:nth-child(374),
.pixel:nth-child(375),
.pixel:nth-child(376),
.pixel:nth-child(377),
.pixel:nth-child(378),
.pixel:nth-child(379),
.pixel:nth-child(380),
.pixel:nth-child(422),
.pixel:nth-child(423),
.pixel:nth-child(424),
.pixel:nth-child(425),
.pixel:nth-child(426),
.pixel:nth-child(428),
.pixel:nth-child(470),
.pixel:nth-child(471),
.pixel:nth-child(473),
.pixel:nth-child(474),
.pixel:nth-child(476),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(521),
.pixel:nth-child(522),
.pixel:nth-child(524),
.pixel:nth-child(525),
.pixel:nth-child(566),
.pixel:nth-child(567),
.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(710),
.pixel:nth-child(711),
.pixel:nth-child(712),
.pixel:nth-child(663),
.pixel:nth-child(664),
.pixel:nth-child(616),
.pixel:nth-child(760),
.pixel:nth-child(763),
.pixel:nth-child(765),
.pixel:nth-child(811),
.pixel:nth-child(812),
.pixel:nth-child(813),
.pixel:nth-child(858),
.pixel:nth-child(859),
.pixel:nth-child(860),
.pixel:nth-child(861),
.pixel:nth-child(862),
.pixel:nth-child(863),
.pixel:nth-child(906),
.pixel:nth-child(908),
.pixel:nth-child(909),
.pixel:nth-child(910),
.pixel:nth-child(957),
.pixel:nth-child(958),
.pixel:nth-child(1005),
.pixel:nth-child(1006),
.pixel:nth-child(1053),
.pixel:nth-child(1054),
.pixel:nth-child(1055),
.pixel:nth-child(1100),
.pixel:nth-child(1101),
.pixel:nth-child(1148),
.pixel:nth-child(1149),
.pixel:nth-child(1291),
.pixel:nth-child(1337),
.pixel:nth-child(1383),
.pixel:nth-child(1429),
.pixel:nth-child(1378),
.pixel:nth-child(1474),
.pixel:nth-child(1283),
.pixel:nth-child(1285),
.pixel:nth-child(1234),
.pixel:nth-child(1238),
.pixel:nth-child(1240),
.pixel:nth-child(903),
.pixel:nth-child(1719),
.pixel:nth-child(1815),
.pixel:nth-child(1713),
.pixel:nth-child(1612),
.pixel:nth-child(1614),
.pixel:nth-child(1563),
.pixel:nth-child(1607),
.pixel:nth-child(1609),
.pixel:nth-child(1654),
.pixel:nth-child(1604),
.pixel:nth-child(1649),
.pixel:nth-child(1600),
.pixel:nth-child(1208),
.pixel:nth-child(1255),
.pixel:nth-child(1257),
.pixel:nth-child(1304),
.pixel:nth-child(1353),
.pixel:nth-child(1450),
.pixel:nth-child(1497),
.pixel:nth-child(1641),
.pixel:nth-child(1642),
.pixel:nth-child(1690),
.pixel:nth-child(1691),
.pixel:nth-child(1693),
.pixel:nth-child(1694),
.pixel:nth-child(1737),
.pixel:nth-child(1738),
.pixel:nth-child(1739),
.pixel:nth-child(1740),
.pixel:nth-child(1741),
.pixel:nth-child(1784),
.pixel:nth-child(1785),
.pixel:nth-child(1786),
.pixel:nth-child(1787),
.pixel:nth-child(1779),
.pixel:nth-child(1827),
.pixel:nth-child(1828),
.pixel:nth-child(1829),
.pixel:nth-child(1830),
.pixel:nth-child(1831),
.pixel:nth-child(1832),
.pixel:nth-child(1833),
.pixel:nth-child(1874),
.pixel:nth-child(1875),
.pixel:nth-child(1876),
.pixel:nth-child(1880),
.pixel:nth-child(1881),
.pixel:nth-child(1882),
.pixel:nth-child(1923),
.pixel:nth-child(1927),
.pixel:nth-child(1928),
.pixel:nth-child(1974),
.pixel:nth-child(1975),
.pixel:nth-child(2021),
.pixel:nth-child(2022),
.pixel:nth-child(2023),
.pixel:nth-child(2069),
.pixel:nth-child(2071),
.pixel:nth-child(1977),
.pixel:nth-child(1861),
.pixel:nth-child(1862),
.pixel:nth-child(1863),
.pixel:nth-child(1864),
.pixel:nth-child(1908),
.pixel:nth-child(1909),
.pixel:nth-child(1910),
.pixel:nth-child(1911),
.pixel:nth-child(1952),
.pixel:nth-child(1954),
.pixel:nth-child(1955),
.pixel:nth-child(1956),
.pixel:nth-child(1957),
.pixel:nth-child(1958),
.pixel:nth-child(1959),
.pixel:nth-child(1960),
.pixel:nth-child(1963),
.pixel:nth-child(2000),
.pixel:nth-child(2001),
.pixel:nth-child(2002),
.pixel:nth-child(2003),
.pixel:nth-child(2004),
.pixel:nth-child(2005),
.pixel:nth-child(2006),
.pixel:nth-child(2007),
.pixel:nth-child(2008),
.pixel:nth-child(2009),
.pixel:nth-child(2010),
.pixel:nth-child(2011),
.pixel:nth-child(2012),
.pixel:nth-child(2013),
.pixel:nth-child(2014),
.pixel:nth-child(2015),
.pixel:nth-child(2048),
.pixel:nth-child(2051),
.pixel:nth-child(2052),
.pixel:nth-child(2053),
.pixel:nth-child(2054),
.pixel:nth-child(2055),
.pixel:nth-child(2056),
.pixel:nth-child(2059),
.pixel:nth-child(2060),
.pixel:nth-child(2061),
.pixel:nth-child(2062),
.pixel:nth-child(2101),
.pixel:nth-child(2102),
.pixel:nth-child(2103),
.pixel:nth-child(2109),
.pixel:nth-child(2110),
.pixel:nth-child(2111),
.pixel:nth-child(2151),
.pixel:nth-child(2152),
.pixel:nth-child(2200),
.pixel:nth-child(2201),
.pixel:nth-child(2202),
.pixel:nth-child(2248),
.pixel:nth-child(2251) {
  background: var(--primary);
}

.pixel:nth-child(438),
.pixel:nth-child(439),
.pixel:nth-child(487),
.pixel:nth-child(627),
.pixel:nth-child(679),
.pixel:nth-child(635),
.pixel:nth-child(684),
.pixel:nth-child(733),
.pixel:nth-child(655),
.pixel:nth-child(702),
.pixel:nth-child(758),
.pixel:nth-child(759),
.pixel:nth-child(808),
.pixel:nth-child(1150),
.pixel:nth-child(1072),
.pixel:nth-child(1079),
.pixel:nth-child(1028),
.pixel:nth-child(1076),
.pixel:nth-child(1077),
.pixel:nth-child(1131),
.pixel:nth-child(1117),
.pixel:nth-child(1216),
.pixel:nth-child(1169),
.pixel:nth-child(1170),
.pixel:nth-child(1171),
.pixel:nth-child(1172),
.pixel:nth-child(1173),
.pixel:nth-child(1221),
.pixel:nth-child(1218),
.pixel:nth-child(1219),
.pixel:nth-child(1266),
.pixel:nth-child(1267),
.pixel:nth-child(1594),
.pixel:nth-child(1595),
.pixel:nth-child(1548),
.pixel:nth-child(1549),
.pixel:nth-child(1601),
.pixel:nth-child(1603),
.pixel:nth-child(1602),
.pixel:nth-child(1554),
.pixel:nth-child(1555),
.pixel:nth-child(1556),
.pixel:nth-child(1557),
.pixel:nth-child(1558),
.pixel:nth-child(1559),
.pixel:nth-child(1560),
.pixel:nth-child(1561),
.pixel:nth-child(1605),
.pixel:nth-child(1606),
.pixel:nth-child(1507),
.pixel:nth-child(1508),
.pixel:nth-child(1459),
.pixel:nth-child(1513),
.pixel:nth-child(1514),
.pixel:nth-child(1515),
.pixel:nth-child(1516),
.pixel:nth-child(1517),
.pixel:nth-child(1466),
.pixel:nth-child(1467),
.pixel:nth-child(1468),
.pixel:nth-child(1419),
.pixel:nth-child(1420),
.pixel:nth-child(1564),
.pixel:nth-child(1565),
.pixel:nth-child(1566),
.pixel:nth-child(1615),
.pixel:nth-child(1616),
.pixel:nth-child(1665),
.pixel:nth-child(1666),
.pixel:nth-child(1667),
.pixel:nth-child(1715),
.pixel:nth-child(1716),
.pixel:nth-child(1764),
.pixel:nth-child(1813),
.pixel:nth-child(1814),
.pixel:nth-child(1134),
.pixel:nth-child(1086),
.pixel:nth-child(1087),
.pixel:nth-child(1039),
.pixel:nth-child(1040),
.pixel:nth-child(993),
.pixel:nth-child(994),
.pixel:nth-child(1183),
.pixel:nth-child(1184),
.pixel:nth-child(1185),
.pixel:nth-child(1136),
.pixel:nth-child(1232),
.pixel:nth-child(1233),
.pixel:nth-child(1279),
.pixel:nth-child(1280),
.pixel:nth-child(1281),
.pixel:nth-child(1282),
.pixel:nth-child(1326),
.pixel:nth-child(1327),
.pixel:nth-child(1328),
.pixel:nth-child(1329),
.pixel:nth-child(1330),
.pixel:nth-child(1377),
.pixel:nth-child(1376),
.pixel:nth-child(1425),
.pixel:nth-child(1379),
.pixel:nth-child(1380),
.pixel:nth-child(1381),
.pixel:nth-child(1332),
.pixel:nth-child(1333),
.pixel:nth-child(1334),
.pixel:nth-child(1335),
.pixel:nth-child(1286),
.pixel:nth-child(773),
.pixel:nth-child(821),
.pixel:nth-child(822),
.pixel:nth-child(870),
.pixel:nth-child(918),
.pixel:nth-child(919),
.pixel:nth-child(920),
.pixel:nth-child(967),
.pixel:nth-child(968),
.pixel:nth-child(969),
.pixel:nth-child(1016) {
  background: var(--secondary);
}
